* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body{
    line-height: 1.5;
    font-family: 'Roboto', sans-serif;
    min-height: 100vh;
}

ul{
    list-style: none;
    
}
a{
    text-decoration: none;
}

.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 24px;
    color: #f9faf8;
    background-color: #1f2937;
    padding: 10px 80px 10px 80px;
}
.header-nav ul{
    display: flex;
    gap: 20px;
    font-size: 18px;
}
.header-nav a{
    color: #e5e7eb; 
}

.hero-section{
    display: flex;
    background-color: #1f2937;
    justify-content: space-between;
    align-items: center;
    padding: 0px 80px 0px 80px;
}
.hero-section-title h1{
    font-size: 48px;
    color: #f9faf8;
    font-weight: 900;
    line-height: 1.2;
   
}
.hero-section-title h2{
    font-size: 18px;
    color: #f9faf8;
}
.hero-button button {
    background-color: #3882f6;
    border-radius: 6px;
    padding: 5px 15px;
    margin-top: 10px;
    border-color: transparent;
    color: #e5e7eb;
}

.container-services{
    display: flex;
    flex-wrap: wrap; /* Stack on smaller screens */
    justify-content: center; /* Center the row in the middle */
    gap: 2rem; /* Even space between cards */
    padding: 2rem 0;
}
.service-header h1{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 36px;
    color: #1f2937; 
    font-weight: 900;
    padding-top: 30px;
}
.services-card {
    display: flex;
    flex-direction: column; /* Image above text */
    align-items: center; /* Center horizontally */
    text-align: center; /* Center text */
    max-width: 250px; /* Keep cards same width */ 
}
.services-card img {
    max-width: 200px;
    border-radius: 10px ;
    border: 4px solid blue;
    height: auto;
}